.aboutMe{
    position: relative;
    padding-top: 100px;
}

.me-container{
    background-color: #5DD9C8;
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
    width: 100%;
}

.me-text{
    font-family: "TildaSans";
    display: flex;
    text-align: center;
    line-height: 54px;
    width: 70%;
    margin: 0 auto;
}

.img-me{
    position: relative;
    margin-top: -100px;
    text-align: center;
}

.img-me img{
    border-radius: 12px;
    border: 3px solid #5DD9C8;
}