.collaboration{
    text-align: center;
    background-color: var(--color-purple);
    color: #ffffff;
    border-radius: 12px;
    margin-bottom: -120px;
    z-index: 20;
    position: relative;
}

.collaboration-list{
    list-style: none;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.collaboration-item {
    max-width: 700px;
}

.collaboration-item h3{
    font-size: 20px;
}

.collaboration-item a{
    text-decoration: none;
    color: inherit;
    display: flex;
    border: 2px solid #ffffff;
    border-radius: 12px;
    padding: 15px 10px;
    transition: 0.3s;
}

.collaboration-item a:hover{
    color: var(--color-purple);
    background-color: #ffffff;
    transition: 0.3s;
}

@media screen and (max-width: 900px) {
    .collaboration-list{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}