@font-face{
    font-family: 'TildaSans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('шрифты/TildaSans-Light.ttf') format('truetype');
}

@font-face{
    font-family: 'TildaSans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('шрифты/TildaSans-Bold.ttf') format('truetype');
}

@font-face{
    font-family: 'TildaSans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('шрифты/TildaSans-Medium.ttf') format('truetype');
}
