.page-header{
    padding: 20px 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
}

.nav, button{
    font-size: 25px;
}

.nav{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow:0 3px 10px 0 rgba(0, 0, 0, 0.15);
    background-color: #fff;
    height: 126px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}



.nav-list{
    width: 50%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    font-weight: 600;
}

.navbar-link{
    color: #000000;
    text-decoration: none;
}

.nav-link-a{
    display: flex;
    justify-content: center;
    width: 20%;
}