.intro{
    scroll-margin-top: 200px;
    margin-top: 150px;
}

.container-title{
    text-align: center;
}

.container-text{
    text-align: center;
}

.intro-img{
    width: 100%;
    height: 100%;
    text-align: center;
}

