.projects{
    margin-top: 200px;
}

.projects-title{
    text-align: center;
}

.projects-list{
    display: flex;
    list-style: none;
    justify-content: center;
}

.project-item{
    border: 2px solid var(--color-purple);
    border-radius: 12px;
    width: 430px;
    height: 242px;
    transition: transform 0.5s linear;

}

.project-item:not(:last-child){
    margin-right: 20px;
}

.project-item img{
    border-radius: 12px;
    width: 430px;
    height: 242px;
}


.link{
    text-align: center;
    margin-top: 100px;
}

.link a{
    font-family: 'TildaSans', sans-serif;
    text-decoration: none;
    color: var(--color-orange);
    font-size: 25px;
    border: 3px solid var(--color-orange);
    padding: 10px 20px;
    border-radius: 12px;
    transition: 0.7s;
}

.link a:hover{
    background-color: var(--color-orange);
    color: #ffffff;
    transition: 0.7s;
}

.project-item:hover .project-item-img{
    display: none;
}

.project-item-link{
    display: none;
}

.project-item:hover .project-item-link{
    display: block;
}

.project-item:hover{
    background-color: var(--color-purple);
    font-family: 'TildaSans', sans-serif;
    text-align: center;
    color: #ffffff;
    font-size: 25px;
    line-height: 30px;
    transform: scale(1.25);
}

.item-link{
    text-decoration: none;
    color: #ffffff;
}

.item-link-text{
    border: 2px solid #ffffff;
    padding: 8px 10px;
    border-radius: 12px;
    width: 70%;
    margin: 0 auto;
    transition: color 1s linear;

}

.item-link-text:hover{
    color: var(--color-purple);
    background-color: #ffffff;
}