.skills-title{
    text-align: center;
}

.table{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
}

.table-skills{
    border-radius: 15px;
    border: 1px solid var(--color-sea);
    border-collapse: collapse;
}

.table-icons{
    padding-top: 100px;
}

.table-skills td{
    width: 300px;
    text-align: center;
}

.table-skills td, th:not(:last-child){
    border-right: 1px solid var(--color-sea);
}

.table-name{
    color: var(--color-orange);
    font-weight: 600;
}

.table-list{
    list-style: none;
    margin: 0;
    padding: 0;
}
