

.skills-title{
    text-align: center;
}

.table{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.skills-item{
    display: grid;
    grid-template-rows: 1fr 1fr;
    border-radius: 12px;
    border: 1px solid var(--color-sea);
    text-align: center;
    padding: 50px;
}

.skills-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.table-icons{
    padding-top: 100px;
    max-width: 72px;
    max-height: 72px;
    margin: 0 auto;
}

.table-name{
    color: var(--color-orange);
    font-weight: 600;
    line-height: 30px;
}

.table-list{
    list-style: none;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 900px) {
    .table-skills{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .skills-item{
        padding: 50px;
    }
}

@media screen and (max-width: 900px) {
    .table{
        display: flex;
        margin: -20px;
    }
    .skills-item{
        padding: 0;
    }
}